* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
}

body {
    padding-bottom: 1000px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}

input {
    border: none;
    outline: none;
    background: none;
}

textarea {
    border: none;
    outline: none;
    background: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * WRAPPERS * * * * * * * * * * * * * * * * * * * * * * * * * */

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 15px;
}

.section-title-right {
    display: flex;
    font-size: 16px;
    font-weight: 500;
    align-items: center;
    justify-content: flex-end;
}

.section-title-right span {
    color: #ef3642;
    font-size: 16px;
    font-weight: 500;
    margin-right: 5px;
}

.section-title-right div {
    width: 100px;
    height: 1px;
    background: #000;
    margin-left: 10px;
}

.title-with-background-wrapper {
    position: relative;
    width: max-content;
}

.title-with-background {
    background: #f3f1f1;
    transform: skewX(-40deg);
    padding: 27px 70px;
    width: max-content;
    position: relative;
    z-index: 2;
}

.title-with-background-wrapper:after {
    content: "";
    height: 75px;
    width: 200px;
    display: block;
    transform: skewX(-40deg);
    background-image: linear-gradient(to right, #a31d26, #b2222c, #c12731, #d02c37, #e0313d);
    position: absolute;
    z-index: 1;
    bottom: -10px;
    right: 10px;
}

.title-with-background h3 {
    transform: skewX(40deg);
    display: block;
    font-size: 26px;
    font-weight: 900;
    color: #2d2e2f;
    text-transform: uppercase;
}

.title-with-background span {
    color: #e92b38;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * HEADER * * * * * * * * * * * * * * * * * * * * * * * * * */

.header {
    display: flex;
    height: 100vh;
}

.header-left-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../images/backgrounds/header-left.png');
    background-size: cover;
    z-index: 1;
}

.header-top-left {
    background: #2f3436;
    height: 130px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-top-left .container {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 20px 15px;
}

.header-bottom-left .container {
    max-width: 600px;
}

.header-logo a {
    display: block;
    width: 180px;
}

.header-logo a img {
    width: 100%;
    object-fit: contain;
}

.header-menu ul {
    display: flex;
}

.header-menu ul li {
    margin-right: 30px;
}

.header-menu ul li a {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    transition: 0.1s;
}

.header-menu ul li a:hover {
    color: #ef3642;
}

.header-bottom-left {
    height: 100%;
    background: #1d2325;
}

.header-logo,
.header-menu,
.header-hero-logo {
    position: relative;
    z-index: 2;
}

.header-bottom-left {
    display: flex;
    align-items: center;
    padding: 15px;
}

.header-hero-logo {
    margin-bottom: 195px;
}

.header-hero-logo h1 {
    font-size: 74px;
    font-weight: 900;
    text-transform: uppercase;
    color: #fff;
}

.header-hero-logo span {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
}

.header-top-right {
    background-image: url('../images/backgrounds/header-top-right.png');
    background-color: #e5e5e5;
    background-size: cover;
    display: flex;
    height: 130px;
    width: 100%;
    padding-left: 27%;
}

.header-right {
    width: 70%;
    height: 100vh;
    position: absolute;
    right: 0;
}

.header-bottom-left:after {
    content: '';
    display: block;
    background: #ef3541;
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to right, #a31d26, #b2222c, #c12731, #d02c37, #e0313d);
    z-index: 5;
}

.header-left {
    width: 50%;
    height: calc(100vh + 65px);
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 70% 100%, 0% 100%);
    z-index: 3;
}

#header-bottom-right {
    padding-left: 27%;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 130px);
    padding-top: 50px;
    position: relative;
}

.header-hero-img1 {
    background-image: url('../images/backgrounds/header-right.jpg');
}

.header-hero-img2 {
    background-image: url('../images/backgrounds/header-right-2.jpg');
}

.header-actions {
    max-width: 360px;
    width: 100%;
}

.header-actions * {
    color: #2f2f2f;
}

.header-actions a {
    font-weight: 700;
}

.header-actions a:not(:last-child) {
    margin-right: 5px;
}

.header-top-right .container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    max-width: 600px;
}

.header-search {
    margin-bottom: 10px;
}

.header-search form {
    display: flex;
    padding: 5px 15px;
    background: #fff;
    border: 1px solid #505657;
    border-radius: 1px;
    justify-content: space-between;
}

.header-search input {
    color: #000;
}

.header-search input::placeholder {
    color: #000;
}

.header-search i {
    color: #000;
    font-size: 18px;
}

.header-search input[type=search]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.header-search input[type=search]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the 'X' from Chrome */
.header-search input[type="search"]::-webkit-search-decoration,
.header-search input[type="search"]::-webkit-search-cancel-button,
.header-search input[type="search"]::-webkit-search-results-button,
.header-search input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.header-infoblock {
    width: 500px;
    height: 100%;
    background-image: linear-gradient(to right, #080808, #131313, #1b1b1b, #222222, #2a2a2a);
    padding: 50px;
    padding-bottom: 0;
    position: relative;
    margin: auto;
}

.header-infoblock-inner {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-top: 5px solid #000;
    border-right: 8px solid #c3c0ca;
    border-left: 8px solid #c3c0ca;
    margin: auto;
    background-image: url('../images/backgrounds/header-infoblock-shapes.png');
    background-size: 100%;
    background-position: center 150%;
    background-repeat: no-repeat;
}

.header-infoblock-square-1 {
    border: 1px solid #222727;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.header-infoblock-square-2 {
    border: 1px solid #222727;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 0 15px;
}

.header-infoblock-square-3 {
    border: 1px solid #222727;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.header-infoblock-squares {
    position: absolute;
    display: flex;
    margin: auto;
    top: 15px;
    align-items: center;
    left: calc(50% - 42px);
}

.header-info-block-logo {
    padding: 15px;
    border-bottom: 1px solid #333;
    margin: 0 15px;
    display: flex;
    justify-content: flex-end;
}

.header-infoblock-menu {
    padding: 15px;
}

.header-infoblock-menu li a {
    background: none;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 5px 10px;
    margin: 10px 0;
    font-weight: 500;
    transition: 0.2s;
}

.header-infoblock-menu li a:hover {
    background: #ef3642;
    color: #fff;

}

.header-infoblock-menu li a:hover .text-logo div {
    color: #000;
}

.header-infoblock-menu li a.active {
    background: #ef3642;
    color: #fff;
}

.header-infoblock-menu li a span {
    font-size: 12px;
    width: 24px;
    display: block;
    padding-bottom: 2px;
    font-weight: 500;
}

.text-logo {
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    font-size: 16px;
}

.text-logo div {
    color: #ef3541;
    font-size: 16px;
    transition: 0.2s;
}

.header-infoblock .text-logo {
    margin-right: 5px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * ABOUT * * * * * * * * * * * * * * * * * * * * * * * * * */

.gray-line {
    width: 100%;
    height: 1px;
    background: #e4e4e4;
}

.about {
    padding-top: 110px;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-position: 100%;
    position: relative;
    padding-bottom: 300px;
}

.about .gray-line {
    margin-bottom: 50px;
}

.about-background {
    position: absolute;
    right: -424px;
    top: -150px;
    z-index: 2;
    position: absolute;
    right: 0;
    top: 380px;
    z-index: 2;
}

.about-intro-text {
    padding: 50px 15px;
}

.about-intro-text p {
    color: #342829;
    font-size: 20px;
    font-weight: 500;
}

.about-intro-text p span {
    text-transform: uppercase;
    color: #e92b38;
    font-weight: 900;
}


.about-round-card h4 {
    color: #303030;
    font-size: 16px;
    margin-top: 10px;
}

.about-round-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    max-width: 165px;
    height: 165px;
    /* background-color: #f0f0f0; */
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    position: absolute;
    z-index: 1;
}

.about-round {
    min-width: 500px;
    max-width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin-top: 70px;
    /* background-image: url('../images/elements/round-shapes.png');
    background-size: 100%;
    background-repeat: no-repeat; */
}

.about-round-red-line {
    min-width: 500px;
    max-width: 500px;
    height: 500px;
    /* border: 3px solid #ef3541;
    border-radius: 50%; */
    margin: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}


.about-round-card:nth-of-type(1) {
    left: calc(50% - 82px);
    top: -75px;
}

.about-round-card:nth-of-type(2) {
    right: -40px;
    top: 50px;
}

.about-round-card:nth-of-type(3) {
    right: -40px;
    bottom: 50px;
}

.about-round-card:nth-of-type(4) {
    left: calc(50% - 82px);
    bottom: -82px;
}

.about-round-card:nth-of-type(5) {
    left: -40px;
    top: 50px;
}

.about-round-card:nth-of-type(6) {
    left: -40px;
    bottom: 50px;
}

.about-logo {
    position: relative;
    z-index: 6;
}

.about-text-company {
    font-size: 255px;
    color: #f0f0f0;
    font-weight: 700;
    position: absolute;
    z-index: 0;
    bottom: 250px;
    left: -60px;
    
}

.about-numbers {
    width: 100%;
    height: 520px;
    background: #333;
    clip-path: polygon(50% 50%, 100% 0, 100% 50%, 50% 100%, 0 50%, 0 0);
    position: absolute;
    left: 0;
    bottom: -260px;
    background-image: url('../images/backgrounds/numbers.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 3;
}

.about-card {
    font-size: 30px;
    font-weight: 900;
    color: #fff;
    margin-bottom: 100px;
}

.about-card:first-child {
    margin-right: 300px;
    margin-bottom: 300px;
}

.about-card:last-child {
    margin-left: 300px;
    margin-bottom: 300px;
}

.about-numbers-title {
    text-align: center;
    display: block;
    margin: auto;
    font-size: 26px;
    transform: translateY(150px);
    text-transform: uppercase;
    font-weight: 900;
}

.counter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.counter-card {
    padding: 0 40px;
    max-width: 300px;
    width: 100%;
    text-align: center;
}

.counter-card:nth-child(2) {
    transform: translateY(110px);
}

.counter-number {
    font-size: 78px;
    font-weight: 800;
    color: #fff;
    opacity: 0;
    font-family: 'Montserrat';
}

.counter-card span {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.counter-number:after {
    content: "+";
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * ADVANTAGES * * * * * * * * * * * * * * * * * * * * * * * * * */

.advantages {
    margin-top: 300px;
    position: relative;
}

.advantages .section-title-right {
    position: relative;
    z-index: 2;
}


.advantages .title-with-background {
    padding-right: 150px;
}

.advantages-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.advantages-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    text-align: center;
    margin: 50px 0;
    padding: 0 25px;
    /* padding-bottom: 0; */
    flex-basis: 20%;
    height: 200px;
}

.advantages-photo {
    height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.advantages-card h4 {
    font-size: 22px;
    font-weight: 900;
    color: #2d2e2f;
    margin-top: 15px;
}

.advantages-card span {
    font-weight: 500;
    font-size: 14px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * CATEGORIES SHOWCASE* * * * * * * * * * * * * * * * * * * * * * * * * */

.categories-showcase {
    position: relative;
    padding-top: 100px;
}

.showcase-text-company {
    font-size: 255px;
    color: #f0f0f0;
    font-weight: 700;
    position: absolute;
    z-index: 0;
    top: -50px;
    right: 0;
}

.categories-showcase .section-title-right {
    position: relative;
    z-index: 5;
}


.categories-showcase .title-with-background-wrapper {
    margin-left: auto;
    margin-top: 30px;
}
.categories-showcase .title-with-background-wrapper:after {
    right: -30px;
    top: -10px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * MEDIA * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (min-width: 1600px) {
    .header-infoblock-menu {
        padding: 15px;
    }

    .header-infoblock-menu li a {
        color: #000;
        font-size: 24px;
        text-transform: uppercase;
        width: 100%;
        display: flex;
        align-items: flex-end;
        padding: 5px 10px;
        margin: 20px 0;
    }

    .header-infoblock-menu li a span {
        font-size: 16px;
        width: 24px;
        display: block;
        padding-bottom: 3px;
    }


    .text-logo {

        font-size: 24px;
    }

    .text-logo div {
        font-size: 24px;
    }

    #header-bottom-right {
        padding-top: 100px;
    }
}